annotated-types @ file:///croot/annotated-types_1709542908624/work
anyio @ file:///croot/anyio_1706220167567/work
certifi @ file:///home/conda/feedstock_root/build_artifacts/certifi_1718025014955/work/certifi
click @ file:///croot/click_1698129812380/work
dnspython @ file:///home/conda/feedstock_root/build_artifacts/dnspython_1709190728464/work
email_validator @ file:///home/conda/feedstock_root/build_artifacts/email-validator-meta_1718984626658/work
fastapi @ file:///home/conda/feedstock_root/build_artifacts/fastapi_1715196982285/work
fastapi-cli @ file:///home/conda/feedstock_root/build_artifacts/fastapi-cli_1716205772095/work
h11 @ file:///croot/h11_1706652277403/work
h2 @ file:///home/conda/feedstock_root/build_artifacts/h2_1634280454336/work
hpack==4.0.0
httpcore @ file:///home/conda/feedstock_root/build_artifacts/httpcore_1711596990900/work
httpx @ file:///home/conda/feedstock_root/build_artifacts/httpx_1708530890843/work
hyperframe @ file:///home/conda/feedstock_root/build_artifacts/hyperframe_1619110129307/work
idna @ file:///croot/idna_1714398848350/work
Jinja2 @ file:///home/conda/feedstock_root/build_artifacts/jinja2_1715127149914/work
markdown-it-py @ file:///home/conda/feedstock_root/build_artifacts/markdown-it-py_1686175045316/work
MarkupSafe @ file:///home/conda/feedstock_root/build_artifacts/markupsafe_1706899926732/work
mdurl @ file:///home/conda/feedstock_root/build_artifacts/mdurl_1704317613764/work
orjson @ file:///home/conda/feedstock_root/build_artifacts/orjson_1718073290538/work/target/wheels/orjson-3.10.4-cp311-cp311-linux_x86_64.whl#sha256=15d2ce3715ed6898351d29879a8ace71094a61e4a919f35059c3fdcfdfec8700
pydantic @ file:///croot/pydantic_1709577974639/work
pydantic_core @ file:///croot/pydantic-core_1709573961665/work
Pygments @ file:///home/conda/feedstock_root/build_artifacts/pygments_1714846767233/work
python-multipart @ file:///home/conda/feedstock_root/build_artifacts/python-multipart_1707760088566/work
rich @ file:///home/conda/feedstock_root/build_artifacts/rich-split_1709150387247/work/dist
shellingham @ file:///home/conda/feedstock_root/build_artifacts/shellingham_1698144360966/work
sniffio @ file:///croot/sniffio_1705431295498/work
starlette @ file:///home/conda/feedstock_root/build_artifacts/starlette-recipe_1709667058396/work
typer==0.12.3
typer-slim==0.12.3
typing_extensions @ file:///croot/typing_extensions_1715268824938/work
ujson @ file:///croot/ujson_1717597529825/work
uvicorn @ file:///work/ci_py311_2/uvicorn-split_1679340461072/work
